<div class="card">
  <div class="card-body"><h5 class="card-title">ngSwitch</h5>

    <div class="card-text">
      
      <div [ngSwitch]="valor">
        <ng-template  ngSwitchCase="1">ngSwitchCase="1"</ng-template>
        <ng-template  ngSwitchCase="2">ngSwitchCase="2"</ng-template>
        <ng-template  [ngSwitchCase]="'3'">[ngSwitchCase]="'3'"</ng-template>
        <ng-template  ngSwitchDefault>ngSwitchDefault</ng-template>
      </div>
      

    </div>

    <div class="mt-3">
      <a class="btn btn-outline-primary btn-sm mr-2" (click)="valor = 1">1</a>
      <a class="btn btn-outline-primary btn-sm mr-2" (click)="valor = 2">2</a>
      <a class="btn btn-outline-primary btn-sm mr-2" (click)="valor = 3">3</a>
      <a class="btn btn-outline-primary btn-sm" (click)="valor = 4">otros valores</a>
    </div>

  </div>
</div>

