<form novalidate #formulario="ngForm" (ngSubmit)="guardar(formulario)">
  <div class="form-group row">
    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre"
         #nombre="ngModel" [ngClass]="{'is-invalid': nombre.errors}" placeholder="Nombre" required>
      <div *ngIf="nombre.errors?.required" class="text-danger mt-2" role="alert">
        El nombre es obligatorio
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" name="apellidos"
            #apellidos="ngModel" [ngClass]="{'is-invalid': apellidos.errors}"  placeholder="Apellidos" minlength="2">
      <div *ngIf="apellidos.errors?.minlength" class="text-danger mt-2 is-invalid" role="alert">
        El apellido debe tener al menos {{apellidos.errors.minlength.requiredLength}} caracteres
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email*</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" 
          #email="ngModel" [ngClass]="{'is-invalid': email.errors}"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" placeholder="Email" required>
          <div *ngIf="email.errors?.required" class="text-danger mt-2 is-invalid" role="alert">
            El email es obligatorio
          </div>
          <div *ngIf="email.errors?.pattern" class="text-danger mt-2" role="alert">
            El email no tiene un formato válido
          </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputpais" class="col-sm-2 col-form-label">País*</label>
    <div class="col-sm-10">
      <select class="form-control"
              [(ngModel)]="usuario.pais" name="pais" #pais="ngModel" required>
        <option value="" selected>Selecccione un país</option>
        <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.nombre}}</option>
      </select>
      Seleccionado: {{usuario.pais|json}} (Si en lugar de [ngValue], ponemos [value] sería solo string)
      <div *ngIf="pais.errors && pais.dirty" class="text-danger mt-2" role="alert">
          El país es un campo obligatorio
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="sexo" class="col-sm-2 col-form-label">Sexo</label>
    <div class="col-sm-10 align-middle" style="line-height: 38px;">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="usuario.sexo" type="radio"  name="sexo" value="mujer">
          <label class="form-check-label" for="mujer">Mujer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="usuario.sexo" type="radio"  name="sexo" value="hombre">
          <label class="form-check-label" for="hombre">Hombre</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="usuario.sexo" type="radio"  name="sexo" value="Sin definir">
          <label class="form-check-label" for="Sin definir">Sin definir</label>
        </div>
        <div>Seleccionado: {{usuario.sexo}}</div> 
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>

